.day {

	height: 100px;
	width: 100px;

	padding: 5px;
	
	
	
}

.diffMonth {
	background-color: LightGray;

}

.today {

	background-color: LightBlue;


}

.selected {
	font-weight: bold;
	background-color: CornflowerBlue;
}


table, th, td {
   border: 1px solid black;
}