<div class="day" ng-class="{today: day.isToday, diffMonth: !day.isCurrentMonth, selected: day.date.isSame(selected)}">
	<p>{{day.number}}</p>

	<ul>
		<li ng-repeat="appt in day.appts track by $index">
			<a ng-click="removeAppt(day, appt); $event.stopPropagation()"><span class="glyphicon glyphicon-minus"></span></a>
			{{appt.body}}
		</li>
	</ul>



	<button uib-popover-template="templateUrl"  popover-is-open="isOpen"  popover-placement="right" type="button" ng-click="$event.stopPropagation(); open()" ng-show="day.date.isSame(selected)" class="btn btn-default btn-xs edit"><span class="glyphicon glyphicon-plus-sign"></span></button>
	

</div>