<div class="page-header">
	<h2>My Calendar</h2>
	


</div>
<div>
	
	<a ng-click="prevMonth()"><span class="glyphicon glyphicon-chevron-left"></span></a><div style="width: 200px; padding: 25px; display: inline-block; text-align: center"> {{month.format("MMMM")}} </div><a ng-click="nextMonth()"><span class="glyphicon glyphicon-chevron-right"></span></a>
	
	<table>
		<thead>
			<th>Sun</th>
			<th>Mon</th>
			<th>Tue</th>
			<th>Wed</th>
			<th>Thu</th>
			<th>Fri</th>
			<th>Sat</th>
		</thead>
		<tbody>
			<tr ng-repeat="week in weeks">
				<td ng-repeat="day in week.days">
					<my-day day="day" selected-day="selected" ng-click="select(day)"></my-day>
					



				</td>
			</tr>

		</tbody>
	
	
	</table>


</div>